@-webkit-keyframes shadow-inset-center {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
}

@keyframes shadow-inset-center {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/* current-speakers CSS */
h2 {
    font-family: Raleway, sans-serif;
    text-align: center;
    font-size: 5rem;
    color: white;
    font-weight: 600;
}

.red-text {
    color: rgb(254, 42, 6);
}

.carousel {
    margin: 10px auto 50px auto;
    padding: 0 70px;
}

.carousel .item {
    color: #747d89;
    min-height: 325px;
    text-align: center;
    overflow: hidden;
}

.carousel .thumb-wrapper {
    font-family: Raleway, sans-serif;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    height: 25vw;
    padding: 25px 15px;
    /* background: #fff; */
    border-radius: 6px;
    text-align: center;
    position: relative;
    /* box-shadow: 0 2px 3px rgba(0,0,0,0.2); */
}

.carousel .thumb-wrapper:hover {
    box-shadow: 1px 10px 20px red;
    transform: translateY(-20px);
}

.carousel .item .img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.carousel .item img {
    top: 0px;
    height: 15vw;
    width: 15vw;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    border: 4px solid #fff;
    border-radius: 50%;
    bottom: 0;
    margin: 10px auto auto auto;
    left: 0;
    right: 0;
}

/* .carousel .item img:hover{
      border:4px solid red;
    } */
.carousel .item h2 {
    position: absolute;
    top: 16vw;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4vw;
    color: #fff;
    margin: 15px 0;
}

.carousel .item p {
    position: absolute;
    top: 19vw;
    font-weight: 600;
    font-size: 1.3vw;
}

.carousel .item h4 {
    font-size: 18px;
}

.carousel .item h4,
.carousel .item p,
.carousel .item ul {
    margin-bottom: 5px;
}

.carousel .thumb-content .btn {
    color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}

.carousel .thumb-content .btn:hover,
.carousel .thumb-content .btn:focus {
    color: #fff;
    background: #7ac400;
    box-shadow: none;
}

.carousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .carousel-control {
    height: 40px;
    width: 43px;
    background: red;
    margin: auto 0;
    border-radius: 50%;
    opacity: 0.8;
}

.carousel .carousel-control:hover {
    background: red;
    opacity: 1;
}

.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}

.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}

.carousel .item-price strike {
    opacity: 0.7;
    margin-right: 5px;
}

.carousel .carousel-control.left i {
    margin-left: -2px;
}

.carousel .carousel-control.right i {
    margin-right: -4px;
}

.carousel .carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

.carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}


.speaker-row {
    justify-content: space-around !important;
}

.mobile {
    flex-direction: column;
    align-items: center !important;
}

.phone {
    display: none;
}

.mobile-wrapper {
    width: 70vw;
    height: 70vw;
}

.phone-col {
    display: flex;
    justify-content: center;
}

.img-box2 {
    height: 40vh;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}


/* Schedule css  */

a {
    text-decoration: none
}

h4 {
    text-align: center;
    margin: 30px 0;
    color: #444
}

h2 {
    font-family: Raleway, sans-serif;
    text-align: center;
    font-size: 3.5rem !important;
    color: white !important;
    font-weight: 600;
}

.red-text {
    color: rgb(254, 42, 6);
}

.fa-icon {
    z-index: 10;
    object-fit: cover;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    align-self: center;
}

.content-left {
    background-color: #1c1c1c;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.timeline-right {
    display: flex !important;
    flex-direction: row-reverse;
}

.timeline-left {
    display: flex !important;
}

.designation {
    color: #f00;
    font-size: 1.4rem;
    padding-top: 0.8rem;
}

.timeline-left .designation {
    text-align: end;
}

.timeline-left .description {
    text-align: end;
}


.main-timeline {
    position: relative
}

.main-timeline:before {
    content: "";
    width: 3px;
    height: 100%;
    border-radius: 20px;
    margin: 0 auto;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 25;
}

.main-timeline .timeline {
    display: inline-block;
    margin-bottom: 50px;
    position: relative
}

.main-timeline .timeline:before {
    z-index: 30 !important;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    background: #f00;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%)
}

.main-timeline .timeline-icon {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid #f00;
    padding: 13px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%)
}

.timeline-right .timeline-icon {
    margin-left: 2vw;
    height: 175px;
    width: 175px;
}

.timeline-left .timeline-icon {
    margin-right: 2vw;
    height: 175px;
    width: 175px;
}

.main-timeline .timeline-icon i {
    display: block;
    border-radius: 50%;
    background: #f00;
    font-size: 64px;
    color: #fff;
    line-height: 100px;
    z-index: 1;
    position: relative
}

.main-timeline .timeline-icon:after,
.main-timeline .timeline-icon:before {
    content: "";
    width: 100px;
    height: 3px;
    background: #f00;
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%)
}

/* .main-timeline .timeline-icon:after {
      width: 70px;
      height: 50px;
      background: #000;
      top: 89px;
      right: -30px
  } */

.main-timeline .timeline-content {
    width: 44%;
    padding: 0 50px;
    margin: 147px 0 0;
    float: right;
    position: relative
}

.content-right {
    z-index: 20;
    padding: 0 0 0 50px;
    background-color: #1c1c1c;
}

.main-timeline .timeline-content:before {
    content: "";
    width: 75%;
    height: 100%;
    border: 3px solid #f00;
    border-top: none;
    border-right: none;
    position: absolute;
    bottom: -13px;
    left: 35px
}

.main-timeline .timeline-content:after {
    content: "";
    width: 37px;
    height: 3px;
    background: #f00;
    position: absolute;
    top: 13px;
    left: 0
}

.main-timeline .title {
    font-size: 1.4rem;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 5px
}

.main-timeline .description {
    display: inline-block;
    font-size: 1.7rem;
    padding-top: 0.3rem;
    font-weight: 600;
    color: #f00;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0;
    font-family: Raleway, sans-serif !important;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
    left: auto;
    right: 30%
}

.main-timeline .timeline:nth-child(even) .timeline-icon:before {
    right: auto;
    left: -100px
}

.main-timeline .timeline:nth-child(even) .timeline-icon:after {
    right: auto;
    left: -30px
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    float: left
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    left: auto;
    right: 35px;
    transform: rotateY(180deg)
}

.main-timeline .timeline:nth-child(even) .timeline-content:after {
    left: auto;
    right: 0
}

.main-timeline .timeline:nth-child(2n) .timeline-content:after,
.main-timeline .timeline:nth-child(2n) .timeline-icon i,
.main-timeline .timeline:nth-child(2n) .timeline-icon:before,
.main-timeline .timeline:nth-child(2n):before {
    background: #f00
}

.main-timeline .timeline:nth-child(2n) .timeline-icon {
    border-color: #f00
}

.main-timeline .timeline:nth-child(2n) .title {
    color: #fff
}

.main-timeline .timeline:nth-child(2n) .timeline-content:before {
    border-left-color: #f00;
    border-bottom-color: #f00
}

.main-timeline .timeline:nth-child(3n) .timeline-content:after,
.main-timeline .timeline:nth-child(3n) .timeline-icon i,
.main-timeline .timeline:nth-child(3n) .timeline-icon:before,
.main-timeline .timeline:nth-child(3n):before {
    background: #f00
}

.main-timeline .timeline:nth-child(3n) .timeline-icon {
    border-color: #f00
}

.main-timeline .timeline:nth-child(3n) .title {
    color: #fff
}

.main-timeline .timeline:nth-child(3n) .timeline-content:before {
    border-left-color: #f00;
    border-bottom-color: #f00
}

.main-timeline .timeline:nth-child(4n) .timeline-content:after,
.main-timeline .timeline:nth-child(4n) .timeline-icon i,
.main-timeline .timeline:nth-child(4n) .timeline-icon:before,
.main-timeline .timeline:nth-child(4n):before {
    background: #f00
}

.main-timeline .timeline:nth-child(4n) .timeline-icon {
    border-color: #f00
}

.main-timeline .timeline:nth-child(4n) .title {
    color: #fff
}

.main-timeline .timeline:nth-child(4n) .timeline-content:before {
    border-left-color: #f00;
    border-bottom-color: #f00
}

/* map css start */
.map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #fff;
}

iframe {
    width: 70%;
    height: 40vw;
    padding-bottom: 5vw;
}

@media all and (max-width:991px) {
    iframe {
        width: 80%;
        height: 40vh;
    }
}

@media all and (max-width:768px) {
    iframe {
        height: 50vh;
    }
}

@media all and (max-width:479px) {
    iframe {
        width: 85%;
        height: 55vh;
    }
}

/* map css complete */
@media only screen and (max-width:1300px) {
    .timeline-right .timeline-icon {
        margin-left: 0vw;
    }

    .timeline-left .timeline-icon {
        margin-right: 0vw;
    }

    .main-timeline .timeline-icon:after {
        width: 15vw;
        right: -120px;
        height: 2px;
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon:after {
        left: -130px
    }
}

@media only screen and (max-width:1200px) {
    .main-timeline .timeline-icon:before {
        width: 50px;
        right: -50px
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        right: auto;
        left: -50px
    }

    /* .main-timeline .timeline-content {
          margin-top: 75px
      } */
}

@media only screen and (max-width:990px) {
    .main-timeline .timeline {
        margin: 0 0 10px
    }

    .main-timeline .timeline-icon {
        left: 25%
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon {
        right: 25%
    }

    .main-timeline .timeline-content {
        margin-top: 130px
    }

    .main-timeline .timeline-icon:after {
        width: 0px;
    }

    .main-timeline .timeline-icon:before {
        height: 3px;
        width: 15vw;
        right: -120px;
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        width: 15vw;
        left: -120px
    }
}

@media only screen and (max-width:913px) {
    .main-timeline .timeline-content {
        margin-top: 165px
    }

    .tedx-image {
        width: 22rem;
    }
}

@media only screen and (max-width:767px) {
    .tedx-image {
        width: 19rem;
    }

    .nav-bar {
        height: 10vh;
    }

    .nav>.nav-header {
        align-items: center;
    }

    .main-timeline {
        padding-top: 50px
    }

    .main-timeline .timeline-content {
        align-items: flex-start;
        z-index: -1;
    }

    .main-timeline:before {
        left: 80px;
        right: 0;
        margin: 0
    }

    .main-timeline .timeline {
        margin-bottom: 70px
    }

    .main-timeline .timeline:before {
        top: 0;
        left: 83px;
        right: 0;
        margin: 0
    }

    .main-timeline .timeline-icon {
        width: 60px;
        height: 60px;
        line-height: 40px;
        padding: 5px;
        top: 0;
        left: 0
    }

    .main-timeline .timeline:nth-child(even) .timeline-icon {
        left: 0;
        right: auto
    }

    .main-timeline .timeline-icon:before,
    .main-timeline .timeline:nth-child(even) .timeline-icon:before {
        width: 25px;
        left: auto;
        right: -25px
    }

    .main-timeline .timeline-icon:after,
    .main-timeline .timeline:nth-child(even) .timeline-icon:after {
        width: 25px;
        height: 0px;
        top: 44px;
        left: auto;
        right: -5px
    }

    .main-timeline .timeline-icon i {
        font-size: 30px;
        line-height: 45px
    }

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(even) .timeline-content {
        width: 100%;
        margin-top: -15px;
        padding-left: 130px;
        padding-right: 5px
    }

    .main-timeline .timeline:nth-child(even) .timeline-content {
        float: right
    }

    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        width: 50%;
        left: 120px
    }

    .main-timeline .timeline:nth-child(even) .timeline-content:before {
        right: auto;
        transform: rotateY(0)
    }

    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(even) .timeline-content:after {
        left: 85px
    }

    .fa-icon {
        margin-right: 3rem;
        height: 7rem;
        width: 7rem;
        border: 5px solid red;
    }

    .description {
        font-size: 1.5rem !important;
    }

    .designation {
        font-size: 1.3rem !important;
    }

    .row {
        padding-left: 50px;
    }

    .footer-row {
        padding-left: 0px;
    }

    .timeline-left .designation {
        text-align: start;
    }

    .description {
        text-align: start !important;
    }
}

@media screen and (max-width:606px) {
    .tedx-image {
        width: 18rem;
    }

    .nav-bar {
        height: 9vh;
    }
}

@media screen and (max-width:516px) {
    .tedx-image {
        width: 15rem;
    }

    .nav-bar {
        height: 8vh;
    }
}

@media screen and (max-width:430px) {
    .tedx-image {
        width: 15rem;
    }

    .nav-bar {
        height: 7vh;
    }

    .nav>.nav-links {
        top: 6vh !important
    }
}

@media only screen and (max-width:479px) {

    .main-timeline .timeline-content,
    .main-timeline .timeline:nth-child(2n) .timeline-content {
        padding-left: 110px
    }

    .main-timeline .timeline-content:before,
    .main-timeline .timeline:nth-child(2n) .timeline-content:before {
        left: 99px
    }

    .main-timeline .timeline-content:after,
    .main-timeline .timeline:nth-child(2n) .timeline-content:after {
        left: 65px
    }
}

.main-timeline {
    position: relative;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

/* schedule css complete */