.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#schedule1{
    color: white;
    font-size: 52px;
    margin-bottom: 0;
}

#schedule2{
    color: white;
    font-size: 40px;
    margin-bottom: 0;
}

#schedule3{
    color: white;
    font-size: 39px;
}
#redd{
    color: red;
}
#schedule4{
    color: white;
    font-size: 39px;
    margin-bottom: 0;
}
@media (max-width: 660px) {
    #schedule1{
        font-size: 40px;
    }
    #schedule2{
        font-size: 30px;
    }
    #schedule3{
        font-size: 35px;
    }
    #schedule4{
        font-size: 30px;
    }
}

@media (max-width: 520px) {
    #schedule1{
        font-size: 30px;
    }
    #schedule2{
        font-size: 25px;
    }
    #schedule3{
        font-size: 30px;
    }
    #schedule4{
        font-size: 20px;
    }
}
@media (max-width: 400px) {
    #schedule1{
        font-size: 25px;
    }
    #schedule2{
        font-size: 25px;
    }
    #schedule3{
        font-size: 30px;
    }
    #schedule4{
        font-size: 20px;
    }
}