body {
  background:black;
  /* padding: 50px; */
}

.wrapper {
  position: relative;
  width: 5vw;
  height: 5vw;
  /* margin: 0 auto; */
  margin-left: 35vw;
  margin-top: -5vw;
}

.wrapper .circle {
  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-color: #000000;
  
  transform: scale(1, 1);
  border: 0.1vw solid white;
}

/* .wrapper .circle.pulse {
  animation-timing-function: ease;
  animation: pulse 2s infinite;
  background-color: #ffffff; } */

.wrapper svg {
  fill: #ffffff; /* Darkened color */
  stroke: #ffffff; /* Darkened color */
  stroke-linejoin: round;
  stroke-width: 5;
  transition: all 0.3s;
}

.wrapper svg:hover {
  cursor: pointer;
  fill: #ffffff; /* Darkened color on hover */
  stroke: #ffffff; /* Darkened color on hover */
  transform: scale(1.2, 1.2);
}

@keyframes pulse {
  0% {
    transform: scale(0.6, 0.6);
  }
  25% {
    transform: scale(0.6, 0.6);
  }
  50% {
    transform: scale(0.6, 0.6);
  }
  100% {
    transform: scale(0.6, 0.6);
  }
}
