.card-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  height: 350px;
  width: 275px;
  /* background: linear-gradient(to top, rgb(0, 0, 0), rgb(255, 255, 255)); */
  background-size: cover;
  margin: 5px;
  overflow: hidden;
}

.overlay {
  height: 30%;
  background: linear-gradient(to top, rgb(255, 0, 0), rgb(255, 10, 0));
  opacity: 0.8;
  transition: height 0.3s ease;
  bottom: 0;
  position: absolute;
  width: calc(100%);
  border-radius: 10px;
  z-index: 4;
}

.card-container:hover .overlay {
  height: 60%;
  margin: 0;
  width: 100%;
  border-radius: 0;
}

.name {
  color: white;
  text-transform: uppercase;
  margin-left: 1rem;
  font-family: 'MyNorwester';
}

@font-face {
  font-family: 'MyNorwester';
  src: local('MyNorwester'), url(../../fonts/norwester.otf) format('opentype')
}

.description {
  position: relative;
  padding: 0rem 1rem;
  font-size: 0.85rem;
  top: 50%;
  transition: all 1s ease;
}

.card-container:hover .description {
  top: 0;
}