
.card-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin-left: -40%; /* Adjust margin as needed */
  height: 50vh;
  width: 40vh;
  background: url(Cardsample.png), linear-gradient(to top, rgb(0, 0, 0), rgb(255, 255, 255));
  /* background: linear-gradient(to top, rgb(229, 38, 70), rgb(255, 115, 0)); */
  background-size: cover;
  margin-top: 3%;
  /* filter: grayscale(90%); */
  /* background-blend-mode: darken; */
  

}

.overlay {
  height: 30%;
  background: linear-gradient(to top, rgb(229, 38, 70), rgb(255, 115, 0));
  filter: grayscale(0%);
  opacity: 0.8;
  transition: height 0.3s ease; /* Apply transition only to height property */
  margin: 2%;
  
  bottom: 0;
  position: absolute;
  width: calc(96%); /* Adjusted width to account for left and right margins */
  /* border: 2px solid blue; */
  border-radius: 10px;
  z-index: 4;
}

.card-container:hover .overlay {
  height: 60%;
  margin: 0;
  width: 100%;
  border-radius: 0;
}
.name{
  color: white;
  text-transform: uppercase;
  margin-left: 5%;
  font-family: 'MyNorwester';
}
@font-face{
  font-family: 'MyNorwester';
  src: local('MyNorwester'), url(../../fonts/norwester.otf)  format('opentype')
}
.description{
  display: none;
}
.card-container:hover .description{
  display: contents;
  padding: 5px;
  margin: 1%;
  justify-content: center;
}
.card{
  
}