.card-container {
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  /* margin-left: -40%; Adjust margin as needed */
  height: 350px;
  width: 300px;
  background: url(Cardsample.png), linear-gradient(to top, rgb(0, 0, 0), rgb(255, 255, 255));
  /* background: linear-gradient(to top, rgb(229, 38, 70), rgb(255, 115, 0)); */
  background-size: cover;
  margin: 5px;
  /* margin-bottom: -5rem; */
  /* filter: grayscale(90%); */
  /* background-blend-mode: darken; */
  overflow: hidden;

}

.overlay {
  height: 30%;
  background: linear-gradient(to top, rgb(229, 38, 70), rgb(255, 115, 0));
  opacity: 0.8;
  transition: height 0.3s ease;

  bottom: 0;
  position: absolute;
  width: calc(100%);
  border-radius: 10px;
  z-index: 4;
}

.card-container:hover .overlay {
  height: 60%;
  margin: 0;
  width: 100%;
  border-radius: 0;
}

.name {
  color: white;
  text-transform: uppercase;
  margin-left: 5%;
  font-family: 'MyNorwester';
}

@font-face {
  font-family: 'MyNorwester';
  src: local('MyNorwester'), url(../../fonts/norwester.otf) format('opentype')
}

.description {
  display: none;
}

.card-container:hover .description {
  display: contents;
  padding: 5px;
  /* margin: 1%; */
  justify-content: center;
}