.redbox{
  height: 3000px;
  width: 8vw;
  background-color: rgb(195, 0, 0);
 
 
  margin-top: -10%;
  color: white;
  margin-left: 5%;
  position: relative;


  
 
}
@import url('https://fonts.cdnfonts.com/css/calamity');

@import url('https://fonts.cdnfonts.com/css/norwester');

.textonbox{
  margin-left: -4%;
  color: white;
  font-family: 'MyNorwester';
  writing-mode: vertical-rl;
  font-size: 700%;
  width: 15%;
  text-orientation: sideways;
  /* font-weight: 30%; */
  display: flex;
  flex-direction: row;
  position: relative;
  /* text-transform: rotate(90deg); */
  
}
.newdiv{
  width: 10vw;
  position: relative;
  /* margin-right: 0; */
}
.flexto{
  display: flex;
  position: absolute;
  /* margin-right:  0!important ; */
}
.org{
  position: relative;
  left: 2rem;
  margin-top: 3rem;
  transform: rotate(90deg);
}
.orgw{
  position: relative;
  left: 2rem;
  margin-top: 3rem;
  transform: rotate(90deg);
}
@font-face{
  font-family: 'MyNorwester';
  src: local('MyNorwester'), url(../../fonts/norwester.otf)  format('opentype')
}
@media only screen and (max-width: 900px) {
  .textonbox{
    margin-left: -8%;
  color: white;
  font-family: 'MyNorwester';
  writing-mode: vertical-rl;
  font-size: 15vw;
  width: 15%;
  text-orientation: sideways;
  /* font-weight: 30%; */
  display: flex;
  flex-direction: row;
  position: relative;
  /* text-transform: rotate(90deg); */
   
  }
}