/* Define variables */
@import url('https://fonts.cdnfonts.com/css/calamity');
@import url('https://fonts.cdnfonts.com/css/norwester');    

:root {
  --background: #000000;
  --colorOne: #ed3833;
  --mainColor: #ffffff;
}

/* Apply styles to HTML and body */
html, body {
  background: black;
  /* cursor: pointer; */
  width: 100%;
}

.about-body {
  width: 100%;
  /* background-color: black; */
  /* position: absolute; */
  z-index: -1;
}


#about #speakers-content {
  padding: 15px;
  color: #ffedfe;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0rem 2rem;
  z-index: 2;
  box-sizing: border-box;
  /* position: absolute; */
  background: black;
  /* opacity: 0; */
  width: 100%;
  /* min-height: 100vh; */
  top: 0px;
  text-shadow: none;
  /* flex-direction: column; */
}

#about #speakers-content > h1 {
  position: relative;
  font-size: 3rem;
}
#about #speakers-content > h1::before,
#about #speakers-content > h1::after {
  content: "";
  display: block;
  width: 350px;
  height: 5px;
  background: linear-gradient(
    90deg,
    rgba(23, 0, 54, 1) 0%,
    rgba(150, 33, 145, 1) 100%
  );
  left: -370px;
  top: 2.3rem;
  position: absolute;
}
#about #speakers-content > h1::after {
  background: linear-gradient(
    -90deg,
    rgba(23, 0, 54, 1) 0%,
    rgba(150, 33, 145, 1) 100%
  );
  left: unset;
  right: -370px;
}
#about #speakers-content > div {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  padding-top: 20px;
  gap: 44px;
}
#about #speakers-content .about-card {
  background: rgb(0, 0, 0);
  height: 410px;
  width: 300px;
  position: relative;
  overflow: hidden;
}
#about #speakers-content .about-card > img {
  width: 300px;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#about #speakers-content .about-card > div.about-links-container {
  display: flex;
  justify-content: center;
}
#about #speakers-content .about-card img.about-links {
  width: 25px;
  height: 25px;
  border-radius: 0;
  margin: 5px;
}
#about #speakers-content .about-card > h3 {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.546) 0%,
    rgba(0, 0, 0, 0.468) 75%,
    rgba(0, 0, 0, 0) 100%
  );
  position: relative;
  color: #ffedfe;
  z-index: 10;
  padding-bottom: 2px;
  margin-top: -60px;
  margin-bottom: 11px;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}
#about #speakers-content .about-card > span {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 4px;
  color: rgb(255, 255, 255);
  background: #000;
  text-align: center;
  z-index: 99;
  font-size: 0.9rem;
  font-weight: 500;
}
#about #speakers-content .about-card::after {
  content: "";
  display: block;
  width: 300px;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(49, 102, 229, 1) 0%,
    rgba(3, 212, 255, 1) 100%
  );

  left: 0;
  top: 296px;
  position: absolute;
}


.text-size{
  width: 100%;
  height: calc(100vh - 4.5rem);
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  overflow: hidden;
 }

 #text {
  /* font-family: 'Work Sans', sans-serif; */
  font-weight: 100;
  font-size: 10vw;
  /* transform: skewY(-5deg); */
  /* visibility: hidden; */
  color:white;
  animation: display 1s cubic-bezier(.6, .0, .15, 1) 4s forwards;
  /* position: relative;
  margin-top: 15%;
  margin-left: 14%;
  margin-bottom: 15%; */
  /* text-shadow: 2px 2px 0 red, -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red; */
  /* font-family: 'Calamity', sans-serif; */
  font-family: 'MyNorwester' !important;
  /* transform: scale(0.65,1.5); */
  text-align: center;
}

#text:before,
#text:after {
  content: "OUR TEAM";
  visibility: visible;
  color: var(--colorOne);
  font-family: 'MyFont' !important;
  position: relative;
  display: block;
  text-align: center;
  
}

#text:before {
  color: lighten(var(--colorOne), 0%);
  transform: translate(0,-35%);
  /* transition: ease; */
  /* clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%); */
  animation: move-left 2.5s cubic-bezier(.6, .0, .15, 1),
                 ease;
  top: 10vw;
             
}

#text:after {
  color: lighten(var(--colorOne), 20%);
  transform: translate(0,35%);
  /* transition: ease; */
  /* clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%); */
  animation: move-right 3s cubic-bezier(.6, .0, .15, 1),
               ease;
  bottom: 10vw;
}

.text-in{
  height: calc(10vw + 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  position: relative;
  z-index: 1;
  
}

/* Define keyframes for animations */
@keyframes move-left {
  from {
    transform: translate(0, 0);
    transition: ease;
  }
  to {
    /* transform: translate(0%, -35%); */
    transition: ease;
  }

}

@keyframes move-right {
  from {
    transform: translate(0, 0);
    transition: ease
    ;

  }
  to {
    /* transform: translate(0%, 35%); */
    transition: ease
  }
}

.texti{
  /* font-family: 'Work Sans', sans-serif; */
  font-weight: 800;
  font-size: 9vw;
  /* transform: skewY(-5deg); */
  /* visibility: h; */
  color: rgb(255, 253, 253);
  /* animation: display 1s cubic-bezier(.6, .0, .15, 1) 4s forwards; */
  /* position: absolute;
  margin-top: -26.4%;
  margin-left: 24%; */
  /* text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white; */
  z-index: 4;
  font-family: 'Norwester';
  transform: scale(1,1);
  background-color: black;
  height: 40px;
  text-align: center;
}

@font-face{
  font-family: 'MyFont';
  src: local('MyFont'), url(../../fonts/Calamity\ Outline.otf)  format('opentype')
}
@font-face{
  font-family: 'MyNorwester';
  src: local('MyNorwester'), url(../../fonts/norwester.otf)  format('opentype')
}
