/* Define variables */
@import url('https://fonts.cdnfonts.com/css/calamity');
@import url('https://fonts.cdnfonts.com/css/norwester');    

:root {
  --background: #000000;
  --colorOne: #ed3833;
  --mainColor: #ffffff;
}

/* Apply styles to HTML and body */
html, body {
  background: black;
  /* cursor: pointer; */
  width: 100%;
}

.text-size{
 width: 100%;
 height: calc(100vh - 4.5rem);
 display: flex;
 justify-content: center;
 align-items: center;
 position: sticky;
 overflow: hidden;
}

#text {
  /* font-family: 'Work Sans', sans-serif; */
  font-weight: 100;
  font-size: 10vw;
  /* transform: skewY(-5deg); */
  /* visibility: hidden; */
  color:white;
  animation: display 1s cubic-bezier(.6, .0, .15, 1) 4s forwards;
  /* position: relative;
  margin-top: 15%;
  margin-left: 14%;
  margin-bottom: 15%; */
  /* text-shadow: 2px 2px 0 red, -2px -2px 0 red, 2px -2px 0 red, -2px 2px 0 red; */
  /* font-family: 'Calamity', sans-serif; */
  font-family: 'MyNorwester';
  /* transform: scale(0.65,1.5); */
  text-align: center;
}

#text:before,
#text:after {
  content: "OUR TEAM";
  visibility: visible;
  color: var(--colorOne);
  font-family: 'MyFont';
  position: relative;
  display: block;
  text-align: center;
  
}

#text:before {
  color: lighten(var(--colorOne), 0%);
  transform: translate(0,-35%);
  /* transition: ease; */
  /* clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%); */
  animation: move-left 2.5s cubic-bezier(.6, .0, .15, 1),
                 ease;
  top: 10vw;
             
}

#text:after {
  color: lighten(var(--colorOne), 20%);
  transform: translate(0,35%);
  /* transition: ease; */
  /* clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%); */
  animation: move-right 3s cubic-bezier(.6, .0, .15, 1),
               ease;
  bottom: 10vw;
}

.text-in{
  height: calc(10vw + 20px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  position: relative;
  z-index: 1;
  
}

/* Define keyframes for animations */
@keyframes move-left {
  from {
    transform: translate(0, 0);
    transition: ease;
  }
  to {
    /* transform: translate(0%, -35%); */
    transition: ease;
  }
  
  
  /* 400%{
    transform: translate(0,-20%);
  } */
  /* 100% {
    transform: translate(0%, 0%);
  } */
}

@keyframes move-right {
  from {
    transform: translate(0, 0);
    transition: ease
    ;

  }
  to {
    /* transform: translate(0%, 35%); */
    transition: ease
  }
  /* to{
    transform: scale(1,1.5);
  } */
  
  /* 100% {
    transform: translate(0%, 0%);
  } */
}


/* @keyframes display{
  move-left { to{
    transform: translate(0,-35%);
    transform: scale(1,1.5);
    text-align: center;
  }
    
  }
  
  move-right { to{
      transform: translate(0,35%);
      transform: scale(1,1.5);
      text-align: center;
    }
      
    
  }

} */
.texti{
  /* font-family: 'Work Sans', sans-serif; */
  font-weight: 800;
  font-size: 9vw;
  /* transform: skewY(-5deg); */
  /* visibility: h; */
  color: rgb(255, 253, 253);
  /* animation: display 1s cubic-bezier(.6, .0, .15, 1) 4s forwards; */
  /* position: absolute;
  margin-top: -26.4%;
  margin-left: 24%; */
  /* text-shadow: 2px 2px 0 white, -2px -2px 0 white, 2px -2px 0 white, -2px 2px 0 white; */
  z-index: 4;
  font-family: 'Norwester';
  transform: scale(1,1);
  background-color: black;
  height: 40px;
  text-align: center;
  
                                                
  
}

/* Team.css */
/* ... your existing styles ... */

/* Apply styles to the parallax element (red-colored rectangle) */
#parallax {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50px; /* Adjust the width as needed */
  background-color: red;
  opacity: 0; /* Initially hide the rectangle */
  transition: opacity 0.5s ease; /* Add a smooth transition for opacity */
}



/* Team.css */
/* ... your existing styles ... */

/* Apply styles to the parallax element (red-colored rectangle) */
.parallax {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50px; /* Adjust the width as needed */
  background-color: red;
  opacity: 0; /* Initially hide the rectangle */
  transition: opacity 0.5s ease; /* Add a smooth transition for opacity */
}

@font-face{
  font-family: 'MyFont';
  src: local('MyFont'), url(../../fonts/Calamity\ Outline.otf)  format('opentype')
}
@font-face{
  font-family: 'MyNorwester';
  src: local('MyNorwester'), url(../../fonts/norwester.otf)  format('opentype')
}

.vraj{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 3rem;
  width: 90vw;
  margin-left: 10vw;
}