.countdown-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 2em;
    font-family: "Arial", sans-serif;
    text-align: center;
  }
  
  .neon-number {
    margin: 0 5px;
  }
  
  .dd,
  .hr,
  .mm,
  .ss {
    margin-right: 20px;
  }
  
  .neon-number img {
    width: 6vw;
    height: auto;
  }
  