#countdown {
  display: flex;
}

.counter {
  margin-right: 10px;
}

.counter:last-child {
  margin-right: 0;
}

.counter span {
  display: inline-block;
  width: 30px; /* Adjust width as needed */
  font-size: 18px; /* Adjust font size as needed */
  text-align: center;
}

.counter b {
  display: block;
  font-size: 14px;
  color: #888; /* Adjust color as needed */
}
