body{
    height: 100% !important;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about{
    color: red;
    position: relative;
    font-size: 90px;
    display: flex;
    text-shadow: 2px 2px 5px;
    justify-content: center;
}
#ted{
    color: white;
    font-size: 20px;
}
.about-container{
    transition: ease-in 0.5s;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative
}
.img1{
    max-width: 50%;
    position: static;
    top: 0;
    z-index: 3;
}

.info-container{
    border: solid 2px red;
}