.suspense{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.tubelight{
    color: rgba(255, 255, 255, 0.137); 
    text-align: center;
    justify-content: center;  
}

.tubelight span{
    color: rgba(255, 0, 0, 0.186);
}

.tubelight h1{
    letter-spacing: 5px;
    font-size: 110px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    line-height: 0.7em;
    outline: none;
    animation-delay: 2s;
}
.tubelight .iitgn{
    animation: animate1 10s linear infinite;
}
.tubelight .red-ted{
    animation: animate2 1s linear infinite;
    text-shadow: 0px 0px 40px red;
}


@keyframes animate1
{
    0%
    {
        color: rgba(255, 255, 255, 0.137);
        text-shadow: none;
    }
    10%,40%,50%,68%,100%
    {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 40px rgb(255, 255, 255),
        0 0 80px rgb(255, 255, 255),
        0 0 90px rgb(255, 255, 255);
    }
}
@keyframes animate2 {
    0%{
        filter: blur(5px) brightness(1);
    }
    4%{
        filter: blur(10px) brightness(0);
    }
    6%{
        filter: blur(5px) brightness(1);
    }
    12%{
        filter: blur(10px) brightness(0);
    }
    32%{
        filter: blur(10px) brightness(1);
    }
    52%{
        filter: blur(10px) brightness(0);
    }
    72%{
        filter: blur(10px) brightness(1);
    }
    82%{
        filter: blur(10px) brightness(0);
    }
    92%{
        filter: blur(0px) brightness(1);
    }
}