.suspense{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.tubelight{
    color: rgba(255, 255, 255, 0.137); 
    text-align: center;
    justify-content: center;  
    /* font-family: Arial; */
}

.tubelight span{
    color: rgba(255, 0, 0, 0.186);
}

.tubelight h1{
    letter-spacing: 5px;
    font-size: 110px;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    line-height: 0.7em;
    outline: none;
    animation: animate1 10s linear infinite;
}
.tubelight span{
    animation: animate2 5s linear infinite;
}


@keyframes animate1
{
    0%
    {
        color: rgba(255, 255, 255, 0.137);
        text-shadow: none;
    }
    10%,20%,30%,40%,50%,54%,68%,100%
    {
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px rgb(255, 255, 255),
        0 0 20px rgb(255, 255, 255),
        0 0 40px rgb(255, 255, 255),
        0 0 80px rgb(255, 255, 255),
        0 0 90px rgb(255, 255, 255);
    }
}
@keyframes animate2
{
    0%
    {
        color: rgba(255, 0, 0, 0.186);
        text-shadow: none;
    }
    100%
    {
        color: rgb(253, 0, 0);
        text-shadow: 0 0 10px red,
        0 0 20px red,
        0 0 40px red,
        0 0 80px red,
        0 0 160px red,;
    }
}