.main-theme{
    display: flex;
    justify-content: center;
    margin: 3rem 2rem;
}

.theme{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: auto;
}

.theme-video{
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 1000px) {
.suspense{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

#theme-text{
    color: white;
    margin: 0 10px;

}

.tubelight{
    color: rgba(255, 255, 255, 0.301); 
    text-align: center;
    justify-content: center;  
}

.tubelight h2{
    letter-spacing: 5px;
    font-size: 5rem;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
    line-height: 0.7em;
    margin-top: 0;
    outline: none;
}
.iitgn{
    color: white;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
.red-ted{
    color: red;
    text-shadow: 0px 0px 10px red;
}
.flick{
    animation: flicker 1500ms linear 5s;
    animation-iteration-count: 3;
}
.tubelight .d1{
    animation-delay: 1.8s;
}
.tubelight .d2{
    animation-delay: 2.4s;
}
.tubelight .d3{
    animation-delay: 1.9s;
}
.tubelight .d4{
    animation-delay: 1.5s;
}
.tubelight .d5{
    animation-delay: 2.1s;
}
.tubelight .d6{
    animation-delay: 1.7s;
}


@keyframes flicker {
    0%, 4.76% { /* 500ms / 10500ms = 4.76% */
        opacity: 0;
    }
    4.77%, 9.52% {
        opacity: 1;
    }
    9.53%, 14.28% {
        opacity: 0;
    }
    14.29%, 19.04% {
        opacity: 1;
    }
    19.05%, 23.8% {
        opacity: 0;
    }
    23.81%, 28.56% {
        opacity: 1;
    }
    28.57%, 33.32% {
        opacity: 0;
    }
    33.33%, 38.08% {
        opacity: 1;
    }
    38.09%, 42.84% {
        opacity: 0;
    }
    42.85%, 47.6% {
        opacity: 1;
    }
    47.61%, 100% {
        opacity: 0;
    }
}
}

@media (max-width: 1000px) {
    .suspense{
        color: white;
        display: flex;
        text-align: center;
        justify-content: center;
        font-size: 24px; /* Reduced font size for smaller screens */
    }

    #theme-text{
        color: white;
        margin: 0 5px; /* Reduced margin for smaller screens */
    }
  
    .tubelight{
        color: rgba(255, 255, 255, 0.301); 
        text-align: center;
        justify-content: center;  
    }
  
    .tubelight h1{
        letter-spacing: 3px; /* Reduced letter spacing for smaller screens */
        font-size: 40px; /* Reduced font size for smaller screens */
        -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
        line-height: 0.7em;
        margin-top: 0;
        margin-bottom: 80px;
        outline: none;
    }
    .iitgn{
        color: white;
        text-shadow: 0 0 10px rgb(255, 255, 255);
    }
    .red-ted{
        color: red;
        text-shadow: 0px 0px 10px red;
    }
    .flick{
        animation: flicker 1500ms linear 5s;
    }
    .tubelight .d1{
        animation-delay: 1.8s;
    }
    .tubelight .d2{
        animation-delay: 2.4s;
    }
    .tubelight .d3{
        animation-delay: 1.9s;
    }
    .tubelight .d4{
        animation-delay: 1.5s;
    }
    .tubelight .d5{
        animation-delay: 2.1s;
    }
    .tubelight .d6{
        animation-delay: 1.7s;
    }
  }