html, body {
  height: 100%;
  background: #eee;
}

body {
  overflow: hidden;
}

.scroll-animations-example {
  > .scrollsection {
    padding: 10vh 10vh 10vh 10vmax;
    min-width: 550vh;
    width: 2000vh; /* adjust as needed for your image count */
    overflow: hidden;
  }

  > .scrollsection > .item {
    display: inline-block;
    position: relative;
    margin: 0 -30vh 0 3vh;
  }

  > .scrollsection > .item::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  > .scrollsection > .item.-big {
    height: 80vh;
    width: 60vh;
  }

  > .scrollsection > .item.-big.-horizontal {
    height: 60vh;
    width: 80vh;
  }

  > .scrollsection > .item.-normal {
    height: 60vh;
    width: 45vh;
    z-index: 1;
  }

  > .scrollsection > .item.-normal.-horizontal {
    height: 45vh;
    width: 60vh;
  }

  > .scrollsection > .item:nth-of-type(3n) {
    bottom: 5vh;
  }

  > .scrollsection > .item:nth-of-type(4n) {
    bottom: -5vh;
  }

  > .scrollsection > .item.-small {
    height: 40vh;
    width: 30vh;
    z-index: 2;
  }

  > .scrollsection > .item.-small.-horizontal {
    height: 30vh;
    width: 40vh;
  }

  > .scrollsection > .item:nth-of-type(3n) {
    bottom: 13vh;
  }

  > .scrollsection > .item:nth-of-type(4n) {
    bottom: -13vh;
  }

  > .scrollsection > .item > .image {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: grayscale(1);
    opacity: 0;
    pointer-events: none;
    transform: translateX(0) translateY(0) scale(1);
    transition: filter .3s ease,
      opacity 1s ease,
      transform 1s ease;
  }

  > .scrollsection > .item:nth-of-type(4n) > .image {
    transform: translateX(-30vh) translateY(-30vh) scale(.8);
    transition-delay: 0;
  }

  > .scrollsection > .item:nth-of-type(4n - 1) > .image {
    transform: translateX(30vh) translateY(30vh) scale(.8);
    transition-delay: .05s;
  }

  > .scrollsection > .item:nth-of-type(4n - 2) > .image {
    transform: translateX(-30vh) translateY(30vh) scale(.8);
    transition-delay: .1s;
  }

  > .scrollsection > .item:nth-of-type(4n - 3) > .image {
    transform: translateX(-30vh) translateY(-30vh) scale(.8);
    transition-delay: .15s;
  }

  > .scrollsection > .item > .image.-active {
    transform: translateX(0) translateY(0) scale(1);
    opacity: 0.8;
    pointer-events: auto;
    transition: filter .3s ease,
      opacity 1s ease,
      transform 1s ease;
  }

  > .scrollsection > .item > .image.-clicked {
    transform: translateX(0) translateY(0) scale(5);
    
  }
}