@-webkit-keyframes shadow-inset-center {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
}

@keyframes shadow-inset-center {
    0% {
        -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
        box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');


html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    background-color: #1c1c1c;
}

#About-tedx,
#speakers {
    scroll-margin-top: 140px;
}

/* navbar css */
.navbar {
    /* to make the navbar sticky */
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: #000 !important;
    padding-bottom: 20px;
    z-index: 100;
}

.nav-bar {
    top: 0%;
    margin: 1.5vw 0vw;
    margin-top: 0vw;
    padding-top: 1vw;
    z-index: 100;
    position: fixed !important;
    height: 12vh;
    width: 100%;
    background-color: #000;
    position: relative;
}

.nav-btn {
    padding-right: 5vw;
    height: 100%;
    display: flex !important;
    align-items: center;
}

.nav>.nav-header {
    display: flex;
    height: 100%;
    align-items: flex-start;
}

.nav-tabs {
    border: 0px;
}

.nav>.nav-header>.nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.nav>.nav-btn {
    display: none;
}

.nav>.nav-links {
    margin-top: 0.3vw;
    background-color: #000 !important;
    margin-right: 5vw;
    position: absolute;
    right: 0%;
    display: inline;
    float: right;
    font-size: 1.5rem;
}

.nav>.nav-links>a {
    position: relative;
    top: -10px;
    font-size: 1.6rem;
    font-family: raleway, sans-serif;
    display: inline-block;
    padding: 13px 14px;
    text-decoration: none;
    color: #efefef;
    font-weight: 600;
}

.nav>.nav-links>a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav>#nav-check {
    display: none;
}

@media (max-width:1120px) {
    .nav>.nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    .nav>.nav-links {
        padding-right: 3vw;
        text-align: end;
        top: 7vh !important;
    }

    .nav>.nav-btn>label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
    }

    .nav>.nav-btn>label:hover,
    .nav #nav-check:checked~.nav-btn>label {
        background-color: rgba(0, 0, 0, 0.3);
    }

    .nav>.nav-btn>label>span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 2px solid #eee;
        cursor: pointer;
    }

    .nav>.nav-links {
        position: absolute;
        /*     display: block; */
        width: 100%;
        background-color: #333;
        max-height: 0px;
        transition: all 0.5s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        /* padding-right: 10vw; */
    }

    .nav>.nav-links>a {
        font-size: 1rem;
        display: block;
        width: 100%;
    }

    .nav>#nav-check:not(:checked)~.nav-links {
        max-height: 0px;
    }

    .nav>#nav-check:checked~.nav-links {
        /*     height: calc(100vh - 50px); */
        max-height: 400px;
        overflow-y: hiddin;
    }
}

.get-tickets {
    font-family: Raleway, sans-serif;
    border: 0px !important;
    color: #fff;
    background-color: rgb(254, 42, 6);
    font-weight: 600;
    padding: 0.5vw 1.5vw;
    border-radius: 10px;
}

.date-get-tickets {
    text-transform: uppercase;
    font-size: 3rem;
    font-family: Montserrat;
    border: 0px !important;
    color: #fff;
    background-color: rgb(254, 42, 6);
    font-weight: 600;
    margin-top: 2rem;
    padding: 0.7vw 1.5vw;
    border-radius: 5px;
}

.get-tickets:hover,
.date-get-tickets:hover {
    background-color: #181818;
}

.date-tickets {
    padding: 10rem 3rem;
    background-color: #1c1c1c;
}

.collapse {
    padding-left: 18px;
}

.nav>.nav-links>a:hover {
    color: red;
}

/* navbar css complete */

.container {
    display: flex;
    flex-direction: row;
}

.tedx-image {
    position: absolute;
    left: 0%;
    padding-left: 5vw;
    padding-top: 0vh;
    width: 37rem;
    z-index: 5;
}

.navbar-nav {
    padding-top: 2vh;
    /*   padding-left: 4.5vw; */
    padding-left: 52.5vw;
}

.background {
    width: 100vw;
    margin-top: 0vw;
    height: 100vh;
    background-image: url(../img/bg1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* .background{
    display: flex;
    justify-content: center;
  } */
.background img {
    margin-top: 2vw;
    height: 100vh;
    width: 100%;
    object-fit: fill;
}

.banTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    color: rgba(255, 255, 255, 1);
    border: 6px solid rgba(255, 255, 255, 1);
    padding: 10px 40px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.banTitle:hover {
    font-size: 3.2vw;
}

.banTitle .boldspan {
    color: rgba(230, 43, 30, 1);
}

/* video section css */
.teaser-video {
    padding: 5vw 0vw;
    margin-bottom: 5vw;
    background-color: #000;
    /* transform: skewY(-2deg); */
}

.theme-video {
    padding: 1vw 1vw 1vw 1vw;
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* transform: skewY(2deg); */
}

.theme {
    font-family: Montserrat;
    font-size: 1.8rem;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    width: 45vw;
}

.video {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 45vw;
    padding: 2rem 2rem 2rem 2rem;
}

/* .teaser-video h2{
    transform: skewY(2deg);
  } */
/* video section css complete */
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #1c1c1c;
    background-clip: border-box;
    border: 0px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #1c1c1c;
    border: 0px;
}

.nav {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;

}

.nav-tabs .nav-item {
    border-bottom: 0px !important;
    margin-bottom: -1px;
}

.third {
    text-align: center;
}

/* #tedx{
    padding-top: 12vh;
  }
  #tedxiitkgp{
    padding-top: 12vh;
  } */
#link1,
#link2,
#link3 {
    font-family: Raleway, sans-serif;
    font-size: 1.1vw;
    border-radius: 10px;
    padding: 1vw 4vw;
    font-weight: 900;
    margin-left: 8vh;
}


.about-heading {
    cursor: pointer;
    text-align: center;
    font-size: 3rem;
    color: #f00;
    transition: all 0.3s ease;
}

.about h2 {
    display: block;
    margin-bottom: 3vw;
}

.about-heading:hover {
    font-size: 3.6rem;
}

.nav-item {
    transition: all 0.3s ease;
    font-family: Arial;
}

.para-tab {
    color: #fff;
    text-align: left;
}

.nav-link {
    color: #555 !important;
}

.nav-tabs .nav-link.active {
    color: rgb(230, 43, 30) !important;
}

.inactive {
    color: white !important;
    background-color: #20262E !important;
}

/* .nav-item>.active {
      background: white !important;
  } */

.nav-item:hover {
    outline-color: #f00;
}

.nav-tabs .nav-link.active {
    color: rgb(230, 43, 30) !important;
}

.para-tab {
    font-family: Montserrat;
    padding: 2vw 3vw;
    font-size: 1.8rem;
}

.fade {
    opacity: 0;
    transition: opacity .15s linear;
}

.tab-content>.active {
    display: block;
}

.fade.show {
    opacity: 1;
}

.about {
    padding-top: 10vh;
}

.shadow-inset-center {
    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(1, 1, 1, 1) both;
    animation: shadow-inset-center 0.4s cubic-bezier(1, 1, 1, 1) both;
}


/* current-speakers CSS */
.current-speakers {
    background-color: #1c1c1c;
}

.wrapper-button {
    border: none;
    color: #fff;
    background-color: #f00;
    font-size: large;
    top: 24vw;
    height: 3.5rem;
    border-radius: 5px;
    position: absolute;
}

h2 {
    font-family: Raleway, sans-serif;
    text-align: center;
    font-size: 5rem;
    color: white;
    font-weight: 600;
}

.red-text {
    color: rgb(254, 42, 6);
}

.carousel {
    margin: 10px auto 50px auto;
    padding: 0 70px;
}

.carousel .item {
    color: #747d89;
    min-height: 325px;
    text-align: center;
    overflow: hidden;
}

.carousel .thumb-wrapper {
    font-family: Raleway, sans-serif;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    height: 27vw;
    padding: 25px 15px;
    /* background: #fff; */
    border-radius: 6px;
    text-align: center;
    position: relative;
    /* box-shadow: 0 2px 3px rgba(0,0,0,0.2); */
}

.carousel .thumb-wrapper:hover {
    box-shadow: 0px 0px 30px red;
    transform: translateY(-20px);
}

.carousel .item .img-box {
    height: 120px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.carousel .item .img-responsive {
    top: 0px;
    height: 15vw;
    width: 15vw;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: absolute;
    border: 4px solid #fff;
    border-radius: 50%;
    bottom: 0;
    margin: 10px auto auto auto;
    left: 0;
    right: 0;
}

.carousel .item .youtube-icon {
    position: relative;
    font-size: 25px;
    height: 45px;
    width: 45px;
    bottom: 15px;
    top: 19.5vw;
}

.fa-youtube {
    padding-top: 7px;
}

.youtube-icon {
    color: red;
    border: 3px solid red;
    border-radius: 50%;
}

.youtube-icon:hover {
    color: #fff;
    background-color: red;
}

/* .carousel .item img:hover{
    border:4px solid red;
  } */
.carousel .item h2 {
    position: absolute;
    top: 16vw;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3vw;
    color: #fff;
    margin: 15px 0;
}

.carousel .item p {
    position: absolute;
    top: 19vw;
    font-weight: 600;
    font-size: 1.2vw;
}

.carousel .item h4 {
    font-size: 18px;
}

.carousel .item h4,
.carousel .item p,
.carousel .item ul {
    margin-bottom: 5px;
}

.carousel .thumb-content .btn {
    color: #7ac400;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: 1px solid #7ac400;
    padding: 6px 14px;
    margin-top: 5px;
    line-height: 16px;
    border-radius: 20px;
}

.carousel .thumb-content .btn:hover,
.carousel .thumb-content .btn:focus {
    color: #fff;
    background: #7ac400;
    box-shadow: none;
}

.carousel .thumb-content .btn i {
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
}

.carousel .carousel-control {
    height: 40px;
    width: 43px;
    background: red;
    margin: auto 0;
    border-radius: 50%;
    opacity: 0.8;
}

.carousel .carousel-control:hover {
    background: red;
    opacity: 1;
}

.carousel .carousel-control i {
    font-size: 36px;
    position: absolute;
    top: 50%;
    display: inline-block;
    margin: -19px 0 0 0;
    z-index: 5;
    left: 0;
    right: 0;
    color: #fff;
    text-shadow: none;
    font-weight: bold;
}

.carousel .item-price {
    font-size: 13px;
    padding: 2px 0;
}

.carousel .item-price strike {
    opacity: 0.7;
    margin-right: 5px;
}

.carousel .carousel-control.left i {
    margin-left: -2px;
}

.carousel .carousel-control.right i {
    margin-right: -4px;
}

.carousel .carousel-indicators {
    bottom: -50px;
}

.carousel-indicators li,
.carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 4px;
    border-radius: 50%;
    border: none;
}

.carousel-indicators li {
    background: rgba(0, 0, 0, 0.2);
}

.carousel-indicators li.active {
    background: rgba(0, 0, 0, 0.6);
}

.carousel .wish-icon {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 99;
    cursor: pointer;
    font-size: 16px;
    color: #abb0b8;
}

.carousel .wish-icon .fa-heart {
    color: #ff6161;
}

.star-rating li {
    padding: 0;
}

.star-rating i {
    font-size: 14px;
    color: #ffc000;
}

.speaker-row {
    justify-content: space-around !important;
}

.mobile {
    flex-direction: column;
    align-items: center !important;
}

.phone {
    display: none;
}

.mobile-wrapper {
    width: 70vw;
    height: 70vw;
}

.phone-col {
    display: flex;
    justify-content: center;
}

.img-box2 {
    height: 40vh;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.previous-speakers {
    margin-top: 20vh;
}


/* message box CSS */
.box-message {
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}

.message-box {
    display: flex;
    display: none;
    margin-top: 15vh;
    top: -80vh;
    height: 75vh;
    width: 67vw;
    position: fixed;
    background-color: #1B1717;
    transition: all 0.5s ease;
    z-index: 101;
    border-radius: 3%;
}

.box-message .message-box button {
    border: none;
    font-size: 3vh;
    height: 5vh;
    width: 5vh;
    position: absolute;
    top: 0px;
    right: 0px;
    color: #000;
}

.box-message .message-box .speaker-images .img-responsive {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0% 3% 3% 0%;
    /* filter:drop-shadow(16px 16px 10px black); */
}

.box-message .message-box .speaker-images {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-message .message-box .speaker-information {
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1.8vw 1.5vw 2.5vw 3vw;
    width: 55%;

}

.box-message .message-box .speaker-information h2 {
    text-align: left;
    color: #f00;
    font-weight: 600;
    font-size: 3rem;
    font-style: italic;
    margin-top: 5px;
    font-family: Raleway, sans-serif;
}

.box-message .message-box .speaker-information h3 {
    color: #EBFFFB;
    font-size: 2rem;
    margin: 1vw 0px 1.5vw 0px;
    font-style: italic;
    font-family: Raleway, sans-serif;

}

.box-message .message-box .speaker-information p {
    color: #EBFFFB;
    font-size: 1.6rem;
    margin: 0px;
    font-family: Montserrat;
}

.box-message .message-box .speaker-information .brands {
    font-size: 2.5rem;
    color: #fff;
    background-color: #0077B5;
    border: 2px solid #0077B5;
}

/* .box-message .message-box .speaker-information .brands:hover {
    font-size: 2.6rem;
  } */
/* message box CSS complete */

/* sponsers CSS */
.sponsers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.prev-txt {
    margin-bottom: 5vw;
}

/* sponsers CSS complete */
/* footer CSS */
footer {
    color: #fff;
    bottom: 0px;
    background: black;
    padding: 30px 0;
    /* color: #111; */
    font-size: 16px;
}

.sponser {
    margin-bottom: 5vw;
}

.footer-tedx {
    font-size: 2rem !important;
}

.footer p {
    color: white;
}

footer h4 {
    margin-bottom: 20px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
    color: white;
}

footer a {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #e03a3c;
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    margin-bottom: 30px;
    margin: 0 3%;
}

.copyright {
    background-color: #000;
    text-align: center;
    color: #fff;
    padding-top: 2vw;
    font-size: 1.8rem;
}

/* trying */
.facebook-hai,
.linkedin-hai,
.instagram-hai {
    display: flex;
    justify-content: space-between;
}

.social-handles-margin {
    margin-bottom: 10px;
}

.brands {
    color: #000;
    border-radius: 10%;
    background-color: #fff;
    margin-left: 1.5vw;
    padding: 0.2vw;
    border: 2px solid #fff;
}

.brands:hover {
    color: #fff;
    border: 2px solid #e03a3c;
    background-color: #e03a3c;
}

.fa-facebook-f {
    padding: 0.2vw 0.4vw;
}

.fa-linkedin-in {
    z-index: 5;
    position: relative;
}

/* footer CSS complete */
iframe {
    margin-top: 0vw;
}

@media screen and (max-width:1300px) {
    .theme-video {
        width: 90vw;
        margin: auto;
    }

    .video {
        width: 42vw;
        padding-left: 5vw;
    }

    .theme {
        width: 42vw;
    }

    iframe {
        width: 490px;
        height: 300px;
    }

    .message-box {
        height: 80vh;
        width: 70vw;
    }

    .previous-wrapper {
        height: 28vw !important;
    }
}

@media screen and (max-width:991px) {
    .background img {
        width: 120%;
    }

    .nav-row {
        width: 80%;
    }

    .banTitle {
        width: 60%;
    }

    #link1,
    #link2,
    #link3 {
        font-size: 1.7rem;
    }

    .carousel {
        padding: 0 10px;
    }

    .message-box {
        width: 85vw;
        height: 85vh;
    }

    .box-message .message-box .speaker-information p {
        margin-top: 1vw;
        font-size: 1.5vw;
    }

    .box-message .message-box .speaker-information {
        margin-top: 2vw;
    }

    .theme-video {
        flex-direction: column;
    }

    .video {
        width: 100%;
        align-items: center;
    }

    .theme {
        text-align: center;
        width: 70vw;
        margin: auto;
        padding: 3px 3px 3px 3px;
    }

    iframe {
        width: 70vw;
        height: 40vw;
    }

    .sponsers img {
        margin-bottom: 5vw;
    }
}

@media screen and (max-width:768px) {
    .background img {
        width: 140%;
    }

    .tedx-image {
        width: 28rem;
    }

    .nav-bar {
        height: 10vh;
    }

    .nav>.nav-header {
        align-items: center;
    }

    #link1,
    #link2,
    #link3 {
        font-size: 2vw;
    }

    .para-tab {
        text-align: center;
    }

    .mobile-col {
        width: 100%;
        margin-bottom: 5vh;
    }

    .laptop {
        display: none;
    }

    .phone {
        display: block;
    }

    .carousel .item .img-responsive {
        top: 0px;
        height: 40vw;
        width: 40vw;
    }

    .mobile-wrapper {
        height: 68vw !important;
    }

    .carousel .item h2 {
        font-size: 2rem;
        top: 40vw;
    }

    .carousel .item p {
        top: 47vw;
        font-size: 1.8rem;
    }

    .wrapper-button {
        top: 56vw;
    }

    h2 {
        font-size: 4rem;
    }

    .nav>.nav-links {
        padding-right: 5vw !important;
    }

    .nav>.nav-links>a {
        font-size: 2rem;
    }

    #link1,
    #link2,
    #link3 {
        font-size: 1.7rem;
    }

    .box-message .message-box {
        height: 85%;
        width: 90%;
        flex-direction: column-reverse;
    }

    .box-message .message-box .speaker-information {
        height: 65%;
        width: 100%;
    }

    .box-message .message-box .speaker-images {
        width: 100%;
        height: 35%;
        position: absolute;
        top: 0%;
    }

    .box-message .message-box .speaker-images .img-responsive {
        height: 25vh;
        width: 25vh;
        border-radius: 50%;
    }

    .box-message .message-box .speaker-information {
        text-align: center;
        padding-top: 0px;
        margin-top: 0px;
    }

    .box-message .message-box .speaker-information p {
        font-size: 1.3rem;
    }

    .box-message .message-box .speaker-information h2 {
        align-self: center;
        margin-top: 0px;
    }

    .box-message .message-box button {
        color: #fff;
    }

    .theme {
        width: 80vw;
        margin: auto;
        padding: 3px 3px 3px 3px;
    }

    iframe {
        width: 80vw;
        height: 50vw;
    }

    .youtube-icon {
        height: 60px !important;
        width: 60px !important;
        font-size: 32px !important;
        top: 48vw !important;
        padding-top: 10px;
    }

    /* .teaser-video,.theme-video,.teaser-video h2{
      transform: skewY(0deg);
    } */
}

@media screen and (max-width:606px) {
    .background img {
        width: 160%;
    }

    .tedx-image {
        width: 26rem;
    }

    .nav-bar {
        height: 9vh;
    }

    .speaker-images img {
        display: none !important;
    }

    .banTitle {
        width: 90% !important;
        font-size: 3.5vw;
    }

    #link1,
    #link2,
    #link3 {
        font-size: 1.5rem;
        padding: 1vw 2.7vw;
    }

    .carousel .item h2 {
        margin-bottom: 3vw;
    }

    .box-message .message-box {
        height: 70%;
    }

    .box-message .message-box .speaker-information {
        height: 100%;
    }

    .box-message .message-box .speaker-information h2 {
        padding-top: 3vw;
    }

    .box-message .message-box .speaker-information p {
        font-size: 1.3rem;
    }

    .sponsers img {
        width: 70vw;
        height: 70vw;
        margin-bottom: 8vw;
    }

    .wrapper-button {
        top: 59vw;
    }
}

@media screen and (max-width:516px) {
    .background img {
        width: 165%;
    }

    .tedx-image {
        width: 24rem;
    }

    .nav-bar {
        height: 8vh;
    }

    #link1,
    #link2,
    #link3 {
        font-size: 2vw;
    }

    #link1,
    #link2,
    #link3 {
        font-size: 4vw;
        padding: 3vw 6vw;
        margin: 2vw;
    }

    .card-header {
        padding: 0;
    }

    .mobile-wrapper {
        height: 70vw !important;
    }

    .carousel .item p {
        top: 49vw;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .box-message .message-box {
        height: 75%;
    }

    .box-message .message-box .speaker-information h2 {
        padding-top: 8vw;
    }

    .box-message .message-box .speaker-information p {
        font-size: 1.3rem;
    }

    .carousel .item .youtube-icon {
        top: 51vw !important;
    }

    .wrapper-button {
        top: 67vw;
    }
}

@media screen and (max-width:430px) {
    .tedx-image {
        width: 21rem;
    }

    .nav-bar {
        height: 7vh;
    }

    .nav>.nav-links {
        top: 6vh !important
    }

    .banTitle {
        width: 70%;
        font-size: 3.5vw;
    }

    .mobile-wrapper {
        height: 80vw !important;
    }

    .carousel .item p {
        top: 52vw;
    }

    .box-message .message-box {
        height: 70%;
    }

    .carousel .item .youtube-icon {
        font-size: 25px !important;
        top: 54vw !important;
        padding-top: 10px;
        height: 50px !important;
        width: 50px !important;
    }

    .box-message .message-box .speaker-information p {
        font-size: 1.4rem;
    }

    .wrapper-button {
        top: 71vw;
    }
}

@media screen and (max-width:400px) {
    .box-message .message-box {
        height: 70%;
    }

    .mobile-wrapper {
        height: 85vw !important;
    }

    .carousel .item .youtube-icon {
        top: 60.5vw !important;
    }

    .box-message .message-box .speaker-information p {
        font-size: 1.2rem;
    }

    .wrapper-button {
        top: 73vw;
    }
}

@media screen and (max-width:325px) {
    .box-message .message-box {
        height: 90%;
    }

    .box-message .message-box .speaker-information p {
        font-size: 1.2rem;
    }
}