@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

footer {
    color: #fff;
    bottom: 0px;
    background: black;
    padding: 30px 0;
    /* color: #111; */
    font-size: 16px;
}

.sponser {
    margin-bottom: 5vw;
}

.footer-tedx {
    font-size: 2rem !important;
}

.footer p {
    color: white;
}

footer h4 {
    margin-bottom: 20px;
    color: white;
    font-size: 22px;
    font-weight: 600;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    margin-bottom: 10px;
    color: white;
}

footer a {
    font-size: 1.8rem;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: #e03a3c;
    text-decoration: none;
}

.footer-container {
    max-width: 1170px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    flex: 1;
    margin-bottom: 30px;
    margin: 0 3%;
}

.copyright {
    background-color: #000;
    text-align: center;
    color: #fff;
    padding-top: 2vw;
    font-size: 1.8rem;
}

/* trying */
.facebook-hai,
.linkedin-hai,
.instagram-hai {
    display: flex;
    justify-content: space-between;
}

.social-handles-margin {
    margin-bottom: 10px;
}

.brands {
    color: #000;
    border-radius: 10%;
    background-color: #fff;
    margin-left: 1.5vw;
    padding: 0.2vw;
    border: 2px solid #fff;
}

.brands:hover {
    color: #fff;
    border: 2px solid #e03a3c;
    background-color: #e03a3c;
}

.fa-facebook-f {
    padding: 0.2vw 0.4vw;
}

.fa-linkedin-in {
    z-index: 5;
    position: relative;
}