/* Desktop styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 0.5rem 2rem;
  color: white;
  box-sizing: border-box;
  width: 100vw;
}
.navbar .logo-container img{
 height: 3.5rem;
}
.hamburger-menu{
  display: none;
}
.navbar .nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}
.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.3s;
}
.nav-links a:hover {
  color: red;
}
.nav-links a.active {
  background: rgb(255, 0, 0);
  color: black;
  border-radius: 0.5rem;
  font-weight: bold;
  padding: 5px 10px;
}

/* Mobile styles */
@media (max-width: 1000px) {

  .navbar .nav-links {
    display: flex; 
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    right: 0;
    width: 100vw;
    max-height: 0px;
    gap: 1rem;
    transition: all 0.75s;
    background-color: rgba(0,0,0,0.75);
    overflow: hidden;
    box-sizing: border-box;
    z-index: 4;
  }

  .navbar .nav-links.mobile-menu {
    max-height: 400px;
  }

  .navbar .nav-links a {
    text-align:  center;
  }

  .barbutt{
    color: white;
    background-color: black;
    scale: 2;
    border: 1px solid black;
    z-index: 1;
  }
}