body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face{
  font-family: 'MyCalamityOutline';
  src: local('MyFont'), url(./fonts/Calamity\ Outline.otf)  format('opentype')
}
@font-face{
  font-family: 'MyCalamityRegular';
  src: local('MyFont'), url(./fonts/Calamity\ Regular.otf)  format('opentype')
}
@font-face{
  font-family: 'MyNorwester';
  src: local('MyNorwester'), url(./fonts/norwester.otf)  format('opentype')
}

.calamityOutline{
  font-family: 'MyCalamityOutline' !important;
}
.calamityRegular{
  font-family: 'MyCalamityRegular' !important;
}
.norwester{
  font-family: 'MyNorwester' !important;
}
